@mixin flexJustifyAlign($justifyContent,$alignItems) {
    display: flex;
    align-items: $alignItems;
    justify-content: $justifyContent;
}

@mixin absoluteTranslate($top : 'auto',$right : 'auto',$bottom : 'auto',$left : 'auto',$translate) {
    position: absolute;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
    transform: $translate;
}

@mixin absoluteCenterRight($right) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: $right;
}

@mixin absoluteCenterLeft($left) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: $left;
}

@mixin phone {
    @media all and (min-width: 600px) {
        @content
    };
}

@mixin smallTablet {
    @media all and (min-width: 900px) {
        @content
    };
}

@mixin bigTablet {
    @media all and (min-width: 1200px) {
        @content
    };
}

@mixin desktop {
    @media all and (min-width: 1800px) {
        @content
    };
}

@mixin specicalScreen($breakpoint) {
    @media all and (min-width: $breakpoint) {
        @content
    };
}


