@use '../variables' as variables;
@use '../mixins' as mixins;

.not-found {
    @include mixins.flexJustifyAlign(center,center);
    height: 90vh;
    &-wrapper {
        width: 60%;
        text-align: center;
        &-title {
            font-size: 3.2rem;
            font-weight: bold;
            margin-bottom: 3rem;
        }
        &-content__1 {
            margin-bottom: 1rem;    
        }   
        &-content__2 {
            margin-bottom: 3rem;
        }
        &-button {
            color: white;
            padding: 1.3rem 2.6rem !important;
            background-color: variables.$color-main !important;
        }
    }
}