@use '../mixins' as mixins;
@use '../variables' as variables;

.study {
    @include mixins.bigTablet {
        padding: 0rem 3rem; 
    }
    &-top {
        h2 {
            font-weight: bolder;
            margin-bottom: 1rem;
        }
        p {
            font-size: 1.5rem;
        }
        margin-bottom: 10rem;
    }
}