@use '../../mixins' as mixins;
@use '../../variables' as variables;

.home-left {
    @include mixins.smallTablet {
        display: block;
    }
    position: fixed;
    left: 1.6rem;
    width: 7.5rem;
    height: 100vh;
    display: none;
    top: 9rem;

    &-top {
        margin: auto;
        display: block;
        width: 4.5rem;
        height: 4.5rem;
        font-size: 2rem;
        color: rgb(241, 239, 239);
        border-radius: 100rem;
        cursor: pointer;
        background-color: #1472E3;
        @include mixins.flexJustifyAlign(center,center);
        transition: transform .3s ease,-webkit-transform .3s ease;
        &:hover {
            font-size: 3rem !important;
        }
    }
    &-popover {
        padding: 1.2rem;
        &:hover {
            background-color: variables.$background-gray-main;
        }
    }
    &-category {
        margin-top: 1.2rem;
        &-item {
            margin: 0.5rem 0rem;
            cursor: pointer;
            padding: 1.3rem;
            border-radius: 1.6rem;
            svg {
                display: block;
                margin: auto;
                width: 1.8rem;
                height: 1.8rem;
            }
            p {
                text-align: center;
                font-weight: 600;
                margin: 0.5rem 0rem;
                font-size: 1.1rem;
            }
            &:hover {
                background-color: variables.$background-gray-main;
            }
        }
        &-active {
            background-color: variables.$background-gray-main;
        }
    }
}
.arrow-popover .ant-popover-arrow {
    display: none !important;
}
.arrow-popover .ant-popover-inner {
    &-content {
        padding: 0;
        margin: -1rem 0rem;
    }
    width: 18rem;
    margin-left: 2rem;
}
.menu-responsive {
    width: 100%;
    position: fixed;
    z-index: 9999999;
    height: 100vh;
    background-color: rgb(0, 0, 0,0.5);
    animation: opacity__ 0.5;
    display: none;
    &-content {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999999;
        height: 100%;
        animation: show 1s;
        background-color: white;
        width: 45rem;
        li {
            padding-left: 5rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem !important;
            svg,p {
                margin: 0 !important;
                display: inline !important;
            }
        }
    }
}


@keyframes show {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes hide {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes opacity__ {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}