@use '../mixins' as mixins;
@use '../variables' as variables;

.footer {
    margin-top: 4rem;
    position: relative;
    z-index: 99999999;
    padding: 2rem;
    @include mixins.smallTablet {
        padding: 4rem;
    }
    background-color: variables.$background-color-footer;
    width: 100%;
    &-wrapper {
        width: 100%;
        @include mixins.smallTablet {
            width: 90%;
            padding-top: 4rem;
            display: flex;
            flex-wrap: wrap;
        }
        @include mixins.bigTablet {
            width: 80%;
            gap: 4rem;
        }
        margin: auto;
        font-size: 1.4rem;
        color: variables.$color-text-footer;
        p {
            line-height: 2.7rem;
        }
        p:hover {
            color: white;
            cursor: pointer;
        }
        h3 {
            margin-bottom: 1.5rem;
            color: white;
        }
    }
    &-item {
        margin-top: 5rem;
        width: 100%;
        @include mixins.smallTablet {
            width: 50%;
        }
        @include mixins.bigTablet {
            width: calc(25% - 32px);
            margin-top: 0rem;
        }
        &-top {
            @include mixins.flexJustifyAlign(flex-start,center);
            gap: 2rem;
            margin-bottom: 2rem;
            img {
                width: 3.8rem;
                height: 3.8rem;
                object-fit: cover;
            }
            span {
                font-weight: 600;
                font-size: 1.4rem;
                color: white;
            }
        }
    }
    &-end {
        width: 100%;
        @include mixins.smallTablet {
            width: 90%;
            @include mixins.flexJustifyAlign(space-between,center);
        }
        @include mixins.bigTablet {
            width: 80%;
        }
        margin: 4rem auto;
        color: variables.$color-text-footer;
        &-right { 
            @include mixins.flexJustifyAlign(flex-start,center);
            gap: 1.5rem;
            margin: 1rem 0rem;
            @include mixins.phone {
                @include mixins.flexJustifyAlign(flex-end,center);
                margin: 0;
            }
            li {
                font-size: 3.5rem;
            }
            li:nth-child(1) {
                color: skyblue;
            }
            li:nth-child(2) {
                color: tomato;
            }
            li:nth-child(3) {
                color: aqua;
            }
        }
    }
}